{% extends "base.html" %}
{% block title %}Admin Home{% endblock %}
{% block content %}
    <!-- <div id="data-store" data-equip-bookings="{{ s_equip_bookings | tojson }}"></div> -->

    <div class="tab-container">
        <div class="tab">
            <button class="tablinks active" data-tab="dashboard" >Dashboard</button>
            <button class="tablinks" data-tab="assets">Assets</button>
            <button class="tablinks" data-tab="booking">Bookings</button>
            <button class="tablinks" data-tab="students">Students</button>
        </div>
    </div>

    <div class="tabcontent active" data-page = "dashboard" id="dashboard"  style = "display: block">
        <h1>Dashboard</h1>
        <h2>Today's bookings</h2>
        <h2>New bookings</h2>

        <h2>Overdue loans</h2>
    </div>

    <div class="tabcontent active" data-page = "assets" id="assets" style = "display: none">
        <h1>Assets</h1>

    </div>
        <div class="tabcontent active" data-page = "booking" id="booking" style = "display: none">
            <div class = "filter-container">
                <h1>Equipment Bookings</h1>
                <div class="panel panel-primary filterable">
                <div><button id="filter-btn">Filter</button></div>
                <table id = "equipTable">
                    <tr class = "filters" style="display: none;">
                        <th><input type="text" placeholder="Booking ID" disabled></th>
                        <th><input type="text" placeholder="User" disabled></th>
                        <th><input type="text" placeholder="Request Date" disabled></th>
                        <th><input type="text" placeholder="Loan Period" disabled></th>
                        <th><input type="text" placeholder="Status" disabled></th>
                    </tr>
                    <tr class = "headings">
                        <th>Booking ID</th>
                        <th>User</th>
                        <th>Request Date</th>
                        <th>Loan Period</th>
                        <th>Status</th>
                    </tr>
                    <tbody id="table-body">
                        {% for record in equip_bookings %}
                            <tr class = "record" data-id = "{{record.id}}">
                                <td>{{record.id}}</td>
                                <td>{{user_lookup.get(record.fk_user_id, 'Unknown User')}}</td>
                                <td>{{record.created.strftime("%b %d, %Y")}}</td>
                                <td>{{record.loan_start_date.strftime("%b %d, %Y")}} - {{record.loan_end_date.strftime("%b %d, %Y")}}</td>
                                <td>
                                    <span class="status status-{{ record.status.value | lower }}">
                                        {{ record.status.value | upper }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tr id="no-result" class="no-result" style="display: none;"><td colspan="4">No result found</td></tr>
                </table>     
            </div>
        </div>

        <h1>Studio Bookings</h1>
        <table>
            <tr>
                <th>Booking ID</th>
                <th>User</th>
                <th>Studio Space</th>
                <th>Slot</th>
                <th>Booked Date</th>
                <th>Status</th>
            </tr>
            {% for record in s_studio_bookings %}
                <tr class = "studioRecord" data-id = "{{record.id}}">
                    <td>{{record.id}}</td>
                    <td>{{user_lookup.get(record.fk_user_id, 'Unknown User')}}</td>
                    <td>{{record.fk_studio_space_id}}</td>
                    <td>{{record.fk_slot_id}}</td>
                    <td>{{record.booking_date.strftime("%b %d, %Y")}}</td>
                    <td>
                        <span class="status status-{{ record.status.value | lower }}">
                            {{ record.status.value | upper }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="recordModal" class="modal">
            <div class="modal-content" >
                <div class = "modal-body">
                    <span class="close">&times;</span>
                    <h1><span class="label">ID: #</span> <span id="modalId"></span></h1>
                    <p><span class="label">Status:</span> <span id="modalStatus"></span></p>
                    <p><span class="label">Requested by:</span> <span id="modalUser"></span></p>
                    <p><span class="label">Requested on:</span> <span id="modalCreated"></span></p>
                    <p><span class="label">Loan Period:</span> <span id="modalPeriod"></span></p>
                    <p><span class="label">Items:</span> <span id="modalItems"></span></p>
                    <p><span class="label">Booking reason:</span> <span id="modalReason"></span></p>
                    <p id="modalNotes"></p>
                </div>
                <div class="modal-actions">
                    <button id = "approve" style = "display: none">Approve</button>
                    <button id = "reject" style = "display: none">Reject</button>
                    <!-- only appear if loan is not approved -->
                    <button id = "checkIn" style = "display: none">Check in</button>
                    <button id = "cancel" style = "display: none">Cancel</button>  
                    <button id = "remind" style = "display: none">Remind</button> 
                </div>
            </div>
        </div>
    </div>

    <div class="tabcontent active" data-page = "students" id="students" style = "display: none">
        <h1>Students</h1>
        <div class = "filter-container">
            <div class="panel panel-primary filterable">
            <div><button id="filter-btn">Filter</button></div>
            <table id = "studentTable">
                <tr class = "filters" style="display: none;">
                    <th><input type="text" placeholder="User" disabled></th>
                    <th><input type="text" placeholder="Email" disabled></th>
                    <th><input type="text" placeholder="Name" disabled></th>
                    <th><input type="text" placeholder="Role" disabled></th>
                    <th><input type="text" placeholder="Year Group" disabled></th>
                </tr>
                <tr class = "headings">
                    <th>User</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Year Group</th>
                </tr>
                <tbody id="table-body">
                    {% for user in s_users %}
                        <tr class = "user" data-id = "{{user.id}}">
                            <td>{{user.id}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.role.value | upper}}</td>
                            <td>{{user.year_group}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tr id="no-result" class="no-result" style="display: none;"><td colspan="4">No result found</td></tr>
            </table>     
         </div>
    </div>










    <script>
        const equipBookings = {{ s_equip_bookings | tojson | safe }};
        const studioBookings = {{ s_studio_bookings | tojson | safe }};
        const userLookup = {{ user_lookup | tojson | safe }};
        const loanItems = {{ loan_items | tojson | safe }};
        const typeLookup = {{ type_lookup | tojson | safe }};
        console.log(studioBookings)

        const filterBtn = document.getElementById('filter-btn');
        const inputs = Array.from(document.querySelectorAll('.filters input'));
        const rows = Array.from(document.querySelectorAll('#table-body tr:not(#no-result)'));
        const noResult = document.getElementById('no-result');
        // Toggle button click logic
        filterBtn.addEventListener('click', () => {
            const isDisabled = inputs[0].disabled;
            document.querySelector(".filters").style.display = ""
            document.querySelector(".headings").style.display = "none"
            
            inputs.forEach(input => {
                input.disabled = !isDisabled;
                input.value = '';
            });
            
            rows.forEach(row => row.style.display = '');
            noResult.style.display = 'none';

            if (isDisabled) {
                inputs[0].focus();
            } else{
                document.querySelector(".filters").style.display = "none"
                document.querySelector(".headings").style.display = ""
            }
        });
        // Filtering logic on input change
        inputs.forEach(input => {
            input.addEventListener('input', () => {
                let hiddenRowsCount = 0;
                console.log(rows)
                rows.forEach(row => {
                    // Check if row satisfies every search input
                    const isMatch = inputs.every((inp, colIndex) => {
                        const query = inp.value.toLowerCase().trim();
                        if (!query) return true;
                        const cellText = row.children[colIndex].textContent.toLowerCase();
                        return cellText.includes(query);

                    });
                    if (isMatch) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                        hiddenRowsCount++;
                    }
                });
                noResult.style.display = (hiddenRowsCount === rows.length) ? 'table-row' : 'none';
            });
        });
            

        const tablinks = document.querySelectorAll(".tablinks");
        tablinks.forEach(function(tab){
            tab.addEventListener('click',function(){ //when a tablink is clicked
                let selectedTab = tab.dataset.tab;
                const tabcontent = document.querySelectorAll(".tabcontent");
                tabcontent.forEach(function(content){
                    if (content.dataset.page != selectedTab){ //if item doesn't belong to selected category
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
                for (let i = 0; i < tablinks.length; i++) { //makes non selected tab links inactive
                    tablinks[i].classList.remove("active");
                }  
                tab.style.display = "block";
                tab.classList.add("active");
            });
        });

        // When modal is clicked
        const records = document.querySelectorAll(".record");
        var modal = document.getElementById("recordModal");
        var span = document.getElementsByClassName("close")[0];
        let recId;

        const approve = document.getElementById("approve");
        const reject = document.getElementById("reject");
        const cancel = document.getElementById("cancel");
        const checkIn = document.getElementById("checkIn");
        const remind = document.getElementById("remind");

        function confirmedButtons(){
            approve.style.display = "none";
            reject.style.display = "none";
            cancel.style.display = "block";
            checkIn.style.display = "block";
            remind.style.display = "none";
        }

        function pendingButtons(){
            approve.style.display = "block";
            reject.style.display = "block";
            cancel.style.display = "none";
            checkIn.style.display = "none";
            remind.style.display = "none";
        }

        function overdueButtons(){
            approve.style.display = "none";
            reject.style.display = "none";
            cancel.style.display = "none";
            checkIn.style.display = "none";
            remind.style.display = "block";
        }

        function noButtons(){
            approve.style.display = "none";
            reject.style.display = "none";
            cancel.style.display = "none";
            checkIn.style.display = "none";
            remind.style.display = "none";
        }

        records.forEach(function(rec){
            rec.addEventListener('click',function(){
                recId = parseInt(rec.dataset.id);
                let recIdoff = parseInt(rec.dataset.id)-1;
                document.getElementById("modalId").textContent = recId;
                document.getElementById("modalStatus").textContent = equipBookings[recIdoff].status.toUpperCase();
                document.getElementById("modalUser").textContent = userLookup[equipBookings[recIdoff].fk_user_id];
                document.getElementById("modalCreated").textContent = new Date(equipBookings[recIdoff].created).toISOString().split('T')[0];
                document.getElementById("modalPeriod").textContent = new Date(equipBookings[recIdoff].loan_start_date).toISOString().split('T')[0] 
                + " - " + new Date(equipBookings[recIdoff].loan_end_date).toISOString().split('T')[0];

                const items = loanItems[recId];
                console.log("Current recId:", recId);
                if (items) {
                    let itemList = [];
                    for (const [typeId, quantity] of Object.entries(items)) {
                        const itemName = typeLookup[typeId] || `Item #${typeId}`;
                        itemList.push(`${itemName} x${quantity}`);
                    }
                    document.getElementById("modalItems").textContent = itemList.join(" | ");
                } else {
                    document.getElementById("modalItems").textContent = "None";
                }

                document.getElementById("modalReason").textContent = equipBookings[recIdoff].student_loan_reason;
                if (equipBookings[recIdoff].student_extra_notes){
                    document.getElementById("modalNotes").textContent = equipBookings[recIdoff].student_extra_notes;
                } else{
                    document.getElementById("modalNotes").textContent = "No notes";
                }
                modal.style.display = "flex";

                if (equipBookings[recIdoff].status == "pending"){
                    pendingButtons();
                    
                } else if (equipBookings[recIdoff].status == "confirmed"){
                    confirmedButtons()
                    
                } else if (equipBookings[recIdoff].status == "overdue"){
                    overdueButtons();
                } else{
                    noButtons();
                };
            });

        });

        function updateLoanStatus(id, newStatus) {
            fetch('/update_loan_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    loan_id: id,
                    new_status: newStatus
                })
            })

            .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    equipBookings[id-1].status = newStatus;
                    document.getElementById("modalStatus").textContent = newStatus.toUpperCase();
                    let statusSpan = document.querySelector('.record[data-id="' + id + '"] .status')
                    statusSpan.textContent = newStatus;
                    for (const attribute of Array.from(statusSpan.classList)){
                        if (attribute.startsWith("status-") == true){
                            statusSpan.classList.remove(attribute);
                        }
                    }
                    statusSpan.classList.add("status-"+newStatus);
                    if (newStatus == 'confirmed'){
                        alert("Booking #"+id+" has been approved.")
                        confirmedButtons();
                    } else if (newStatus == "rejected"){
                        alert("Booking #"+id+" has been rejected.")
                        noButtons();
                    } else if (newStatus == "canceled"){
                        alert("Booking #"+id+" has been cancelled.")
                        noButtons();
                    }
                    
                })
                .catch(error => {
                    console.error('Error:', error);
                });       
                }

        function send_mail(action,id){
            const targetUrl = "/send_mail"
            fetch(targetUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "action": action,
                    "id": id
                })
            })
            .then(response => {
                // Check if the server responded with a success status code (200-299)
                return response.json(); // Parse the JSON data from Flask
            })
            .then(data => {
                console.log(data)
            }) //def need to add some more error handling for email
        }

        approve.addEventListener('click', function(){
            updateLoanStatus(recId,'confirmed')
            send_mail("approve",recId)
        });

        reject.addEventListener('click', function(){
            updateLoanStatus(recId,'rejected')
            send_mail("reject",recId)
        });

        cancel.addEventListener('click', function(){
            updateLoanStatus(recId,'canceled')
            send_mail("cancel",recId)
        });

        remind.addEventListener('click', function(){
            send_mail("remind",recId)
            alert("Reminder sent!") //add a count of reminders sent or smth here 
        });

        

        



        span.addEventListener('click',function(){
            modal.style.display = "none";
        });

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


    </script>



{% endblock %}