{% extends "base.html" %}
{% block title %}Admin Home{% endblock %}
{% block content %}
    <!-- <div id="data-store" data-equip-bookings="{{ s_equip_bookings | tojson }}"></div> -->

    <!-- TAB CATEGORIES -->
    <div class="tab-container">
        <div class="tab">
            <button class="tablinks active" data-tab="dashboard" >Dashboard</button>
            <button class="tablinks" data-tab="assets">Assets</button>
            <button class="tablinks" data-tab="booking">Bookings</button>
            <button class="tablinks" data-tab="students">Students</button>
        </div>
    </div>

    <!-- DASHBOARD CONTENT -->
    <div class="tabcontent active" data-page = "dashboard" id="dashboard"  style = "display: block">
        <h1>Dashboard</h1>
        <h2>Today's bookings</h2>
        <h2>New bookings</h2>
        <h2>Overdue loans</h2>
    </div>

    <!-- ASSETS CONTENT -->
    <div class="tabcontent active" data-page = "assets" id="assets" style = "display: none">
        <div class = "filter-container">
            <h1>Assets</h1>
            <div class="panel panel-primary filterable">
                <div><button class="filter-btn">Filter</button></div>
                <table id = "assetTable">
                    <!-- FILTER BUTTONS ASSET TABLE -->
                    <tr class = "filters" style="display: none;">
                        <th><input type="text" placeholder="ID" disabled></th>
                        <th><input type="text" placeholder="Type" disabled></th>
                        <th><input type="text" placeholder="Name" disabled></th>
                        <th><input type="text" placeholder="Barcode" disabled></th>
                        <th><input type="text" placeholder="Status" disabled></th>
                    </tr>
                    <tr class = "headings">
                        <th>ID</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Barcode</th>
                        <th>Status</th>
                    </tr>
                    <!-- ASSET TABLE RECORDS -->
                    <tbody id="studio-table-body">
                        {% for record in s_assets %}
                            <tr class = "assetRecord" data-id = "{{record.id}}">
                                <td>{{record.id}}</td>
                                <td>{{type_to_cat_lookup.get(record.equipment_type,'Unknown Catgeory')}}</td>
                                <td>{{record.name}}</td>
                                <td>{{record.barcode}}</td>
                                <td>
                                    <span class="status status-{{ record.status.value | lower }}">
                                        {{ record.status.value | upper }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tr class="no-result" style="display: none;"><td colspan="6">No result found</td></tr>
                </table>
            </div>
        </div>
    </div>
    <!-- EQUIP BOOKING CONTENT -->
    <div class="tabcontent active" data-page = "booking" id="booking" style = "display: none">
        <div class = "filter-container">
            <h1>Equipment Bookings</h1>
            <div class="panel panel-primary filterable">
                <div><button class="filter-btn">Filter</button></div>
                <table id = "equipTable">
                    <!-- FILTER BUTTONS EQUIPMENT TABLE -->
                    <tr class = "filters" style="display: none;">
                        <th><input type="text" placeholder="Booking ID" disabled></th>
                        <th><input type="text" placeholder="User" disabled></th>
                        <th><input type="text" placeholder="Request Date" disabled></th>
                        <th><input type="text" placeholder="Loan Period" disabled></th>
                        <th><input type="text" placeholder="Items:" disabled></th>
                        <th><input type="text" placeholder="Status" disabled></th>
                    </tr>
                    <tr class = "headings">
                        <th>Booking ID</th>
                        <th>User</th>
                        <th>Request Date</th>
                        <th>Loan Period</th>
                        <th>Items</th>
                        <th>Status</th>
                    </tr>
                    <!-- EQUIPMENT TABLE RECORDS -->
                    <tbody id="equip-table-body">
                        {% for record in equip_bookings %}
                            <tr class = "equipRecord" data-id = "{{record.id}}">
                                <td>{{record.id}}</td>
                                <td>{{user_lookup.get(record.fk_user_id, 'Unknown User')}}</td>
                                <td>{{record.created.strftime("%b %d")}}</td>
                                <td>{{record.loan_start_date.strftime("%b %d")}} - {{record.loan_end_date.strftime("%b %d")}}</td>
                                <td>
                                    {% for bookingId, items in loan_items.items() %}
                                        {% if bookingId == record.id %}
                                            {% for type, quantity in items.items() %}
                                                ×{{quantity}} {{type_lookup.get(type)}} {% if not loop.last %} • {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                
                                <td>
                                    <span class="status status-{{ record.status.value | lower }}">
                                        {{ record.status.value | upper }}
                                    </span>
                                </td>
                            </tr>                            
                        {% endfor %}
                    </tbody>
                    <tr class="no-result" style="display: none;"><td colspan="5">No result found</td></tr>
                </table>     
            </div>
        </div>
    <!-- STUDIO BOOKING TABLE -->
        <div class = "filter-container">
            <h1>Studio Bookings</h1>
            <div class="panel panel-primary filterable">
                <div><button class="filter-btn">Filter</button></div>
                <table id = "studioTable">
                    <!-- FILTER BUTTONS STUDIO TABLE -->
                    <tr class = "filters" style="display: none;">
                        <th><input type="text" placeholder="Booking ID" disabled></th>
                        <th><input type="text" placeholder="User" disabled></th>
                        <th><input type="text" placeholder="Studio Space" disabled></th>
                        <th><input type="text" placeholder="Slot" disabled></th>
                        <th><input type="text" placeholder="Booked Date" disabled></th>
                        <th><input type="text" placeholder="Status" disabled></th>
                    </tr>
                    <tr class = "headings">
                        <th>Booking ID</th>
                        <th>User</th>
                        <th>Studio Space</th>
                        <th>Slot</th>
                        <th>Booked Date</th>
                        <th>Status</th>
                    </tr>
                    <!-- STUDIO TABLE RECORDS -->
                    <tbody id="studio-table-body">
                        {% for record in s_studio_bookings %}
                            <tr class = "studioRecord" data-id = "{{record.id}}">
                                <td>{{record.id}}</td>
                                <td>{{user_lookup.get(record.fk_user_id, 'Unknown User')}}</td>
                                <td>{{studio_lookup.get(record.fk_studio_space_id,'Unknown Space')}}</td>
                                <td>{{slot_lookup.get(record.fk_slot_id,"Unknown Timeslot")}}</td>
                                <td>{{record.booking_date.strftime("%b %d, %Y")}}</td>
                                <td>
                                    <span class="status status-{{ record.status.value | lower }}">
                                        {{ record.status.value | upper }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tr class="no-result" style="display: none;"><td colspan="6">No result found</td></tr>
                </table>
            </div>
        </div>
    </div>

        <!-- STUDIO RECORD MODAL -->
        <div id="studioModal" class="modal">
            <div class="modal-content" >
                <div class = "modal-body">
                    <span class = "close"  id="studioClose">&times;</span>
                    <h1><span class="label">ID: #</span> <span id="modalId"></span></h1>
                    <p><span class="label">Status:</span> <span id="modalStatus"></span></p>
                    <p><span class="label">Requested by:</span> <span id="modalUser"></span></p>
                    <p><span class="label">Requested on:</span> <span id="modalCreated"></span></p>
                    <p><span class="label">Booking reason:</span> <span id="modalReason"></span></p>
                    <p id="modalRejectRow" style="display: none;">
                        <span class="label">Cancel reason:</span> 
                        <span id="modalRejectReason"></span>
                    </p>
                    <p id="modalNotes"></p>
                </div>
                <div id = "studioTable" class="modal-actions">
                    <button id = "approve" style = "display: none">Approve</button>
                    <button id = "reject" style = "display: none">Reject</button>
                    <!-- only appear if loan is not approved -->
                    <button id = "checkIn" style = "display: none">Check in</button>
                    <button id = "cancel" style = "display: none">Cancel</button>  
                    <button id = "remind" style = "display: none">Remind</button> 
                </div>
            </div>
        </div>

    
        <!-- EQUIP EDIT MODAL -->
        <div id="equip-edit-modal" class = "edit-modal">
            <form>
                <div class="modal-content" >
                    <div class = "modal-body">
                        <span class = "close"  id="equip-edit-Close">&times;</span>
                        <h1><span class="label">ID: #</span> <span id="edit-modalId"></span></h1>
                        <p><span class="label">Status:</span> <select id="edit-modalStatus"></select></p>
                        <p><span class="label">Requested by:</span> <span id="edit-modalUser"></span></p>
                        <p><span class="label">Requested on:</span><span id="edit-modalCreated"></span> </p>
                        <p><span class="label">Loan Period:</span> <input class = "edit-modalLoanPeriod" type = "date" id="equip-edit-modalLoanPeriod"></p>
                        <input id="loan-start-date" type="hidden" name="edit-loan-start-date">
                        <input id="loan-end-date" type="hidden" name="edit-loan-end-date">
                        <p><span class="label">Items:</span> 
                            <div id = "edit-modalItems">

                            </div>
                            <button id = "add-item" type = 'button'>Add item</button>
                        </p>
                        <p><span class="label">Booking reason:</span><textarea type = "text" id="edit-modalReason" rows="2"></textarea></p>
                        <p id="edit-modalRejectRow" style="display: none;">
                            <span class="label">Cancel reason:</span> 
                            <textarea type = "text" id="edit-modalRejectReason" rows="2"></textarea>
                        </p>
                        <p><textarea type = "text" id="edit-modalNotes" rows="2"></textarea></p>
                    </div>
                    <div id="edit-modal-actions">
                        <button type = "button" id = "equip-edit-save">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- EQUIP RECORD MODAL -->
        <div id="equipModal" class="modal">
            <div class="modal-content" >
                <div class = "modal-body">
                    <span class = "close" id="equipClose">&times;</span>
                    <h1><span class="label">ID: #</span> <span id="modalId"></span></h1>
                    <p><span class="label">Status:</span> <span id="modalStatus"></span></p>
                    <p><span class="label">Requested by:</span> <span id="modalUser"></span></p>
                    <p><span class="label">Requested on:</span> <span id="modalCreated"></span></p>
                    <p><span class="label">Loan Period:</span> <span id="modalPeriod"></span></p>
                    <p><span class="label">Items:</span> <span id="modalItems"></span></p>
                    <p><span class="label">Booking reason:</span> <span id="modalReason"></span></p>
                    <p id="modalRejectRow" style="display: none;">
                        <span class="label">Cancel reason:</span> 
                        <span id="modalRejectReason"></span>
                    </p>
                    <p id="modalNotes"></p>
                    <button id = "equip-edit" class="edit-btn"><i class="fa-regular fa-pen-to-square"></i></button>

                </div>
                <div id = "equipActions" class="modal-actions">
                    <button id = "approve" style = "display: none">Approve</button>
                    <button id = "reject" style = "display: none">Reject</button>
                    <!-- only appear if loan is not approved -->
                    <button id = "checkIn" style = "display: none">Check in</button>
                    <button id = "cancel" style = "display: none">Cancel</button>  
                    <button id = "remind" style = "display: none">Remind</button> 
                </div>
            </div>
        </div>
    </div>

    <!-- REJECT REASON MODAL -->
    <div id = "reject-modal" class = "modal">
        <div class="modal-content modal-sm">
            <span class="close" id="reject-modal-close">&times;</span>
            <h2>Cancellation/rejection Reason</h2>
            <div class="modal-body">
                <label for="fname">Enter reason:</label>
                <textarea required type = "text" id = "reject-reason" name = "reject-reason" placeholder = "Enter reject reason..." rows="3"></textarea>
            </div>
            <div class="modal-actions">
                <button id = "reject-done">Done</button>
            </div>
        </div>
    </div>

    <!-- USER TABLE -->
    <div class="tabcontent active" data-page = "students" id="students" style = "display: none">
        <h1>Students</h1>
        <div class = "filter-container">
            <div class="panel panel-primary filterable">
            <div><button class="filter-btn">Filter</button></div>
            <table id = "studentTable">
                <tr class = "filters" style="display: none;">
                    <th><input type="text" placeholder="User" disabled></th>
                    <th><input type="text" placeholder="Email" disabled></th>
                    <th><input type="text" placeholder="Name" disabled></th>
                    <th><input type="text" placeholder="Role" disabled></th>
                    <th><input type="text" placeholder="Year Group" disabled></th>
                </tr>
                <tr class = "headings">
                    <th>User</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Year Group</th>
                </tr>
                <tbody id="user-table-body">
                    {% for user in s_users %}
                        <tr class = "user" data-id = "{{user.id}}">
                            <td>{{user.id}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.role.value | upper}}</td>
                            <td>{{user.year_group}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tr class="no-result" style="display: none;"><td colspan="4">No result found</td></tr>
            </table>     
         </div>
    </div>
    <script>
        const equipBookings = {{ s_equip_bookings | tojson | safe }};
        const studioBookings = {{ s_studio_bookings | tojson | safe }};
        const userLookup = {{ user_lookup | tojson | safe }};
        const loanItems = {{ loan_items | tojson | safe }};
        const typeLookup = {{ type_lookup | tojson | safe }};
        const loanStatus = {{ loan_status | tojson | safe }};




        document.querySelectorAll('.filter-container').forEach(container => {
            const inputs = container.querySelectorAll('.filters input');
            const rows = container.querySelectorAll('tbody tr:not(.no-result):not(.headings):not(.filters)');
            const noResult = container.querySelector('.no-result');
            const btn = container.querySelector('.filter-btn')
            btn.addEventListener('click',()=>{
                const isDisabled = inputs[0].disabled; 
                //checks the state of filter (open or closed) before click
                
                inputs.forEach(input => {
                    input.disabled = !isDisabled; 
                    //if filter was closed, open it, if it was open, close it
                    input.value = '';
                });
                
                rows.forEach(row => row.style.display = ''); //show all data rows
                noResult.style.display = 'none'; //hide no result row

                if (isDisabled) { //if filter gets turned on 
                    container.querySelector(".filters").style.display = ""
                    container.querySelector(".headings").style.display = "none"
                    inputs[0].focus();
                } else{ //if filter gets turned off
                    container.querySelector(".filters").style.display = "none"
                    container.querySelector(".headings").style.display = ""
                }
            })

            inputs.forEach(input => { //for each input box
                input.addEventListener('input', () => { //everytime any of the input boxes change
                    let hiddenRowsCount = 0;
                    rows.forEach(row => {
                        const isMatch = Array.from(inputs).every((inp, colIndex) => { 
                            //essentially a for loop through each input box
                            //.every returns true if every element returned true, and false if even one element returned false
                            const query = inp.value.toLowerCase().trim(); 
                            //lowercase + remove spaces of search query
                            if (!query) return true; //if the input box is empty, return true
                            const cellText = row.children[colIndex].textContent.toLowerCase(); 
                            //the text content of each cell of each row and col -> lowercase 
                            return cellText.includes(query); 
                            //return true if any of celltext includes search query
                        });
                        if (isMatch) { //if all the inputs satsifies the current row
                            row.style.display = ''; //show the row
                        } else {
                            row.style.display = 'none'; //hide the row
                            hiddenRowsCount++;
                        }
                    });
                    noResult.style.display = (hiddenRowsCount === rows.length) ? 'table-row' : 'none';
                    //if hidden rows = num of rows, then set display to 'table-row', else 'none'
                });
            });
        
        });

            

        
            
        // Page categories
        const tablinks = document.querySelectorAll(".tablinks");
        tablinks.forEach(function(tab){
            tab.addEventListener('click',function(){ //when a tablink is clicked
                let selectedTab = tab.dataset.tab;
                const tabcontent = document.querySelectorAll(".tabcontent");
                tabcontent.forEach(function(content){
                    if (content.dataset.page != selectedTab){ //if item doesn't belong to selected category
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
                for (let i = 0; i < tablinks.length; i++) { //makes non selected tab links inactive
                    tablinks[i].classList.remove("active");
                }  
                tab.style.display = "block";
                tab.classList.add("active");
            });
        });

        const equipRecords = document.querySelectorAll(".equipRecord");
        const studioRecord = document.querySelectorAll(".studioRecord");
        var equip_modal = document.getElementById("equipModal");
        var studio_modal = document.getElementById("studioModal");
        var span = document.getElementsByClassName("close")[0];
        let recId;
        let recIdObject;
        let rejectType;
        let cancelOrReject;

        //Modal buttons
        const equipApprove = document.querySelector("#equipModal #approve");
        const equipReject = document.querySelector("#equipModal #reject");
        const equipCancel = document.querySelector("#equipModal #cancel");
        const equipCheckIn = document.querySelector("#equipModal #checkIn");
        const equipRemind = document.querySelector("#equipModal #remind");

        const studioApprove = document.querySelector("#studioModal #approve");
        const studioReject = document.querySelector("#studioModal #reject");
        const studioCancel = document.querySelector("#studioModal #cancel");
        const studioCheckIn = document.querySelector("#studioModal #checkIn");
        const studioRemind = document.querySelector("#studioModal #remind");

        function enableButtons(){
            equipApprove.disabled = false;
            equipApprove.textContent = "Approve"
            equipReject.disabled = false;
            equipReject.textContent = "Reject"
            equipCancel.disabled = false;
            equipCancel.textContent = "Cancel"
            equipCheckIn.disabled = false;
            equipCheckIn.textContent = "Check In"
            equipRemind.disabled = false;
            equipRemind.textContent = "Remind"

            studioApprove.disabled = false;
            studioApprove.textContent = "Approve"
            studioReject.disabled = false;
            studioReject.textContent = "Reject"
            studioCancel.disabled = false;
            studioCancel.textContent = "Cancel"
            studioCheckIn.disabled = false;
            studioCheckIn.textContent = "Check In"
            studioRemind.disabled = false;
            studioRemind.textContent = "Remind"

        }

        function confirmedButtons(type){
            if (type == "EQUIP"){
                equipApprove.style.display = "none";
                equipReject.style.display = "none";
                equipCancel.style.display = "block";
                equipCheckIn.style.display = "block";
                equipRemind.style.display = "none";
            } else if (type == "STUDIO"){
                studioApprove.style.display = "none";
                studioReject.style.display = "none";
                studioCancel.style.display = "block";
                studioCheckIn.style.display = "block";
                studioRemind.style.display = "none";
            }
            
        }

        function pendingButtons(type){
            if (type == "EQUIP"){
                equipApprove.style.display = "block";
                equipReject.style.display = "block";
                equipCancel.style.display = "none";
                equipCheckIn.style.display = "none";
                equipRemind.style.display = "none";
            } else if (type == "STUDIO"){
                studioApprove.style.display = "block";
                studioReject.style.display = "block";
                studioCancel.style.display = "none";
                studioCheckIn.style.display = "none";
                studioRemind.style.display = "none";
            }
        }

        function overdueButtons(type){
            if (type == "EQUIP"){
                equipApprove.style.display = "none";
                equipReject.style.display = "none";
                equipCancel.style.display = "none";
                equipCheckIn.style.display = "none";
                equipRemind.style.display = "block";
            } else if (type == "STUDIO"){
                studioApprove.style.display = "none";
                studioReject.style.display = "none";
                studioCancel.style.display = "none";
                studioCheckIn.style.display = "none";
                studioRemind.style.display = "block";
            }
        }

        function noButtons(type){
            if (type == "EQUIP"){
                equipApprove.style.display = "none";
                equipReject.style.display = "none";
                equipCancel.style.display = "none";
                equipCheckIn.style.display = "none";
                equipRemind.style.display = "none";
            } else if (type == "STUDIO"){
                studioApprove.style.display = "none";
                studioReject.style.display = "none";
                studioCancel.style.display = "none";
                studioCheckIn.style.display = "none";
                studioRemind.style.display = "none";
            }
        }

        // Equipment record modal
        equipRecords.forEach(function(rec){
            rec.addEventListener('click',function(){
                recId = parseInt(rec.dataset.id);
                recIdObject = equipBookings.find(loan => loan.id === recId);
                document.querySelector("#equipModal #modalId").textContent = recId;
                document.querySelector("#equipModal #modalStatus").textContent = recIdObject.status.toUpperCase();
                document.querySelector("#equipModal #modalUser").textContent = userLookup[recIdObject.fk_user_id];
                document.querySelector("#equipModal #modalCreated").textContent = new Date(recIdObject.created).toISOString().split('T')[0];
                document.querySelector("#equipModal #modalPeriod").textContent = new Date(recIdObject.loan_start_date).toISOString().split('T')[0] 
                + " - " + new Date(recIdObject.loan_end_date).toISOString().split('T')[0];
                
                

                const items = loanItems[recId];
                if (items) {
                    let itemList = [];
                    for (const [typeId, quantity] of Object.entries(items)) {
                        const itemName = typeLookup[typeId] || `Item #${typeId}`;
                        itemList.push(`x${quantity} ${itemName}`);
                    }
                    console.log(itemList)
                    document.querySelector("#equipModal #modalItems").textContent = itemList.join(" • ");
                } else {
                    document.querySelector("#equipModal #modalItems").textContent = "None";
                }

                document.querySelector("#equipModal #modalReason").textContent = recIdObject.student_loan_reason;
                if (recIdObject.student_extra_notes){
                    document.querySelector("#equipModal #modalNotes").textContent = recIdObject.student_extra_notes;
                } else{
                    document.querySelector("#equipModal #modalNotes").textContent = "No student notes";
                }
                if (recIdObject.admin_reject_reason){
                    document.querySelector("#equipModal #modalRejectReason").textContent = recIdObject.admin_reject_reason;
                    document.querySelector("#equipModal #modalRejectRow").style.display = "flex";
                } else{
                    document.querySelector("#equipModal #modalRejectReason").textContent = "";
                    document.querySelector("#equipModal #modalRejectRow").style.display = "none";
                }

                equip_modal.style.display = "flex";

                if (recIdObject.status == "pending"){
                    pendingButtons("EQUIP");
                    
                } else if (recIdObject.status == "confirmed"){
                    confirmedButtons("EQUIP")
                    
                } else if (recIdObject.status == "overdue"){
                    overdueButtons("EQUIP");
                } else{
                    noButtons("EQUIP");
                };
            });

        });

        //equipment edit modal

        function addItemRow(typeId, quantity){
            const newItemContainer = document.createElement('div')

            newItemContainer.className = "edit-modal-item-container"

            const newSelect =  document.createElement('select')
            newSelect.className = "item-select"

            for (const [id, name] of Object.entries(typeLookup)) {
                newSelect.appendChild(new Option(name, id));
            }
            newSelect.value = typeId
            newSelect.placeholder = 'Select equipment';

            const newNumInput =  document.createElement('input')
            newNumInput.type = "number"
            newNumInput.className = "item-quantity"
            newNumInput.value = quantity

            const newRemoveBtn = document.createElement('button')
            newRemoveBtn.textContent = 'x'
            newRemoveBtn.type = "button"
            newRemoveBtn.className = "item-remove"

            newRemoveBtn.addEventListener('click',function(){
                newRemoveBtn.closest('.edit-modal-item-container').remove();
            });

            newItemContainer.appendChild(newSelect)
            newItemContainer.appendChild(newNumInput)
            newItemContainer.appendChild(newRemoveBtn)
            

            document.getElementById("edit-modalItems").appendChild(newItemContainer)
        }

        document.getElementById('equip-edit-save').addEventListener('click',function(){
            const items = [];
            const itemsContainer = document.getElementById("edit-modalItems")
            document.querySelectorAll('#equip-edit-modal .edit-modal-item-container').forEach(function(row){
                const typeId   = parseInt(row.querySelector('.item-select').value);
                const quantity = parseInt(row.querySelector('.item-quantity').value);
                items.push({ type_id: typeId, quantity: quantity });
            });
            console.log(items)
            if (items.length === 0){
                alert("No items selected in loan");
                return
            }
            fetch('/edit_equip_loan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'loan_id': recId,
                    'new_status': document.querySelector('#equip-edit-modal #edit-modalStatus').value.toLowerCase(),
                    'reason' : document.querySelector("#equip-edit-modal #edit-modalReason").value,
                    'reject': document.querySelector("#equip-edit-modal #edit-modalRejectReason").value,
                    'notes' : document.querySelector("#equip-edit-modal #edit-modalNotes").value,
                    'loan_start' : document.querySelector('#equip-edit-modal #loan-start-date').value,
                    'loan_end' : document.querySelector('#equip-edit-modal #loan-end-date').value,
                    'items': items
                })
            })
            .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                });
        });

        //flatpicker

        



        document.getElementById("equip-edit").addEventListener('click', function(){
            console.log(recId)
            recIdObject = equipBookings.find(loan => loan.id === recId);

            const modalCreatedFP = flatpickr(".edit-modalLoanPeriod", {
                mode:"range",
                allowInput:true,  
                altInput: true, 
                altFormat: "F j, Y", 
                dateFormat: "Y-m-d",
                defaultDate: [new Date(recIdObject.loan_start_date) , new Date(recIdObject.loan_end_date)],
                onChange: function(selectedDates, dateStr, instance) {
                    // Check if both dates are selected
                    if (selectedDates.length === 2) {
                        const startDate = selectedDates[0]; // JS Date Object
                        const endDate = selectedDates[1];   // JS Date Object

                        // To get them as formatted strings, use the built-in instance formatter:
                        const startDateStr = instance.formatDate(startDate, "Y-m-d");
                        const endDateStr = instance.formatDate(endDate, "Y-m-d");
                        
                        document.getElementById('loan-start-date').value = startDateStr;
                        document.getElementById('loan-end-date').value = endDateStr;
                    }
                }
            });
            

            document.querySelector("#equip-edit-modal #edit-modalId").textContent = recId;
            const statusDropdown = document.querySelector("#equip-edit-modal #edit-modalStatus");
            for (const status of loanStatus){
                statusDropdown.appendChild(new Option(status.toUpperCase(), status.toUpperCase()));
            }
            statusDropdown.value = recIdObject.status.toUpperCase();

            const itemsContainer = document.querySelector("#equip-edit-modal #edit-modalItems");
            itemsContainer.replaceChildren();
            

            const items = loanItems[recId] || {}; //prevent returning undefined
            for (const [typeId, quantity] of Object.entries(items)) {
                addItemRow(typeId, quantity)
            }

            

            document.querySelector("#equip-edit-modal #edit-modalUser").textContent = userLookup[recIdObject.fk_user_id];
            document.querySelector("#equip-edit-modal #edit-modalCreated").textContent = new Date(recIdObject.created).toISOString().split('T')[0];
            document.querySelector("#equip-edit-modal #edit-modalReason").value = recIdObject.student_loan_reason;
            document.getElementById("equip-edit-modal").style.display = "block";
            if (recIdObject.student_extra_notes){
                document.querySelector("#equip-edit-modal #edit-modalNotes").value = recIdObject.student_extra_notes;
            } else{
                document.querySelector("#equip-edit-modal #edit-modalNotes").placeholder = "No notes";
            }

            if (recIdObject.admin_reject_reason){
                document.querySelector("#equip-edit-modal #edit-modalRejectReason").value = recIdObject.admin_reject_reason;
                document.querySelector("#equip-edit-modal #edit-modalRejectRow").style.display = "flex";
            } else{
                document.querySelector("#equip-edit-modal #edit-modalRejectReason").value = "";
                document.querySelector("#equip-edit-modal #edit-modalRejectRow").style.display = "none";
            }

        });

        document.getElementById("add-item").addEventListener('click',function(){
            addItemRow()
        });

        document.getElementById("equip-edit-Close").addEventListener('click', function() {
            document.getElementById('equip-edit-modal').style.display = "none";
            document.querySelector("#equip-edit-modal #edit-modalStatus").options.length = 0;
        });

        // Studio record model
        studioRecord.forEach(function(rec){
            rec.addEventListener('click',function(){
                recId = parseInt(rec.dataset.id);
                recIdObject = studioBookings.find(loan => loan.id === recId);
                document.querySelector("#studioModal #modalId").textContent = recId;
                document.querySelector("#studioModal #modalStatus").textContent = recIdObject.status.toUpperCase();
                document.querySelector("#studioModal #modalUser").textContent = userLookup[recIdObject.fk_user_id];
                document.querySelector("#studioModal #modalCreated").textContent = new Date(recIdObject.created).toISOString().split('T')[0];
                document.querySelector("#studioModal #modalReason").textContent = recIdObject.student_studio_booking_reason;
                if (recIdObject.student_studio_booking_notes){
                    document.querySelector("#studioModal #modalNotes").textContent = recIdObject.student_studio_booking_notes;
                } else{
                    document.querySelector("#studioModal #modalNotes").textContent = "No student notes";
                }
                if (recIdObject.admin_reject_reason){
                    document.querySelector("#studioModal #modalRejectReason").textContent = recIdObject.admin_reject_reason;
                    document.querySelector("#studioModal #modalRejectRow").style.display = "flex";
                } else{
                    document.querySelector("#studioModal #modalRejectReason").value = "";
                    document.querySelector("#studioModal #modalRejectRow").style.display = "none";
                }

                studio_modal.style.display = "flex";

                if (recIdObject.status == "pending"){
                    pendingButtons("STUDIO");
                    
                } else if (recIdObject.status == "confirmed"){
                    confirmedButtons("STUDIO")
                } else{
                    noButtons("STUDIO");
                };
            });
        });

        //Close butons for equip and studio modals

        document.getElementById('equipClose').addEventListener('click',function(){
            equip_modal.style.display = "none";
        });

        document.getElementById('studioClose').addEventListener('click',function(){
            studio_modal.style.display = "none";
        });

        window.onclick = function(event) {
            if (event.target == studio_modal) {
                studio_modal.style.display = "none";
            } else if (event.target == equip_modal){
                equip_modal.style.display = "none";
            }
        }

        //Update loan status when buttons clicked
        function updateLoanStatus(id, newStatus,rejectReason,type) {
            fetch('/update_loan_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    loan_id: id,
                    new_status: newStatus,
                    reject: rejectReason,
                    type: type
                })
            })
            .then(response => response.json())
                .then(data => {
                    if (data.success == true){
                        if (type == "EQUIP"){
                            recIdObject.status = newStatus;
                            document.querySelector("#equipModal #modalStatus").textContent = newStatus.toUpperCase(); 
                            //change the status on modal
                            let statusSpan = document.querySelector('.equipRecord[data-id="' + id + '"] .status')
                            statusSpan.textContent = newStatus;
                            //change status on table
                            for (const attribute of Array.from(statusSpan.classList)){
                                if (attribute.startsWith("status-") == true){
                                    statusSpan.classList.remove(attribute);
                                    //remove existing class on record with old status
                                }
                            }
                            statusSpan.classList.add("status-"+newStatus);
                            //add new class status to record
                            if (data.email_sent === true){
                                if (newStatus == 'confirmed'){
                                    alert("Equipment booking #"+id+" has been approved and an email has been sent.")
                                    confirmedButtons("EQUIP");
                                    enableButtons()
                                } else if (newStatus == "rejected"){
                                    alert("Equipment booking #"+id+" has been rejected and an email has been sent.")
                                    noButtons("EQUIP");
                                    enableButtons()
                                } else if (newStatus == "canceled"){
                                    alert("Equipment booking #"+id+" has been canceled and an email has been sent.")
                                    noButtons("EQUIP");
                                    enableButtons()
                                }
                            } else if (data.email_sent === false){
                                if (newStatus == 'confirmed'){
                                    alert("Equipment booking #"+id+" has been approved and an email has NOT been sent due to:"+data.email_message)
                                    confirmedButtons("EQUIP");
                                    enableButtons()
                                } else if (newStatus == "rejected"){
                                    alert("Equipment booking #"+id+" has been rejected and an email has NOT been sent due to:"+data.email_message)
                                    noButtons("EQUIP");
                                    enableButtons()
                                } else if (newStatus == "canceled"){
                                    alert("Equipment booking #"+id+" has been canceled and an email has NOT been sent due to:"+data.email_message)
                                    noButtons("EQUIP");
                                    enableButtons()
                                }
                            } else if (data.email_sent === null){
                                alert("Equipment booking #"+id+" has been updated")
                                enableButtons()
                            }
                            
                        } else if (type == "STUDIO"){
                            recIdObject.status = newStatus;
                            document.querySelector("#studioModal #modalStatus").textContent = newStatus.toUpperCase();
                            let statusSpan = document.querySelector('.studioRecord[data-id="' + id + '"] .status')
                            statusSpan.textContent = newStatus;
                            for (const attribute of Array.from(statusSpan.classList)){
                                if (attribute.startsWith("status-") == true){
                                    statusSpan.classList.remove(attribute);
                                }
                            }
                            statusSpan.classList.add("status-"+newStatus);
                            
                            if (data.email_sent === true){
                                if (newStatus == 'confirmed'){
                                    alert("Studio booking #"+id+" has been approved and an email has been sent.")
                                    confirmedButtons("STUDIO");
                                    enableButtons()
                                } else if (newStatus == "rejected"){
                                    alert("Studio booking #"+id+" has been rejected and an email has been sent.")
                                    noButtons("STUDIO");
                                    enableButtons()
                                } else if (newStatus == "canceled"){
                                    alert("Studio booking #"+id+" has been canceled and an email has been sent.")
                                    noButtons("STUDIO");
                                    enableButtons()
                                }
                            } else if (data.email_sent === false){
                                if (newStatus == 'confirmed'){
                                    alert("Studio booking #"+id+" has been approved and an email has NOT been sent due to:"+data.email_message)
                                    confirmedButtons("STUDIO");
                                    enableButtons()
                                } else if (newStatus == "rejected"){
                                    alert("Studio booking #"+id+" has been rejected and an email has NOT been sent due to:"+data.email_message)
                                    noButtons("STUDIO");
                                    enableButtons()
                                } else if (newStatus == "canceled"){
                                    alert("Studio booking #"+id+" has been canceled and an email has NOT been sent due to:"+data.email_message)
                                    noButtons("STUDIO");
                                    enableButtons()
                                }
                            } else if (data.email_sent === null){
                                alert("Studio booking #"+id+" has been updated")
                                enableButtons()
                            }
                        }
                    } else if (data.success == false){
                        alert(data.message)
                        enableButtons()
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("Something went wrong. The booking may not have been updated, so please refresh the page to check.")
                    enableButtons()
                });        
        }

        //Auto emails
        function send_mail(action,id,type){
            const targetUrl = "/send_mail"
            fetch(targetUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "action": action,
                    "id": id,
                    "type": type
                })
            })
            .then(response => {
                return response.json(); // Parse the JSON data from Flask
            })
            .then(data => {
                console.log(data)
                if (data.success == false){
                    alert(data.message)
                    enableButtons()
                }
                else if (action == "remind"){
                    alert("Reminder sent!")
                    enableButtons()
                }
            }) 
            .catch(error => {
                console.error('Error:', error);
                alert("Couldn't reach the server, so the email may not have been sent.")
                enableButtons()
            });     
        }

        //When equip action buttons are clicked
        equipApprove.addEventListener('click', function(){
            updateLoanStatus(recId,'confirmed', null , "EQUIP")
            equipApprove.disabled = true;
            equipApprove.textContent = "Loading..."
            // send_mail("approve",recId,"EQUIP")
        });

        equipReject.addEventListener('click', function(){
            document.getElementById('reject-modal').style.display = "flex";
            rejectType = "EQUIP";
            cancelOrReject = "REJECT";
        });

        equipCancel.addEventListener('click', function(){
            document.getElementById('reject-modal').style.display = "flex"
            rejectType = "EQUIP";
            cancelOrReject = "CANCEL";
        });


        //when studio buttons are pushed
    
        studioCancel.addEventListener('click', function(){
            document.getElementById('reject-modal').style.display = "flex"
            cancelOrReject = "CANCEL";
            rejectType = "STUDIO";
        });

        studioApprove.addEventListener('click', function(){
            updateLoanStatus(recId,'confirmed', null , "STUDIO")
            studioApprove.disabled = true;
            studioApprove.textContent = "Loading..."
            // send_mail("approve",recId,"STUDIO")
        });

        studioReject.addEventListener('click', function(){
            document.getElementById('reject-modal').style.display = "flex"
            cancelOrReject = "REJECT";
            rejectType = "STUDIO";
        });

        
        //Reject modal
        document.getElementById('reject-done').addEventListener('click', function(){
            const rejectReason = document.getElementById('reject-reason').value;
            const rejectInput = document.getElementById('reject-reason')
            
            if (!rejectReason) {
                alert("Please enter a reason before proceeding.");
                rejectInput.focus();
                return; // Prevent the code below from running
            }
            document.getElementById("reject-reason").value = "";
            if (rejectType == "EQUIP"){
                if (cancelOrReject == "CANCEL"){
                    updateLoanStatus(recId,'canceled',rejectReason,"EQUIP")
                    equipCancel.disabled = true;
                    equipCancel.textContent = "Loading..."
                } else if (cancelOrReject == "REJECT"){
                    updateLoanStatus(recId,'rejected',rejectReason,"EQUIP")
                    equipReject.disabled = true;
                    equipReject.textContent = "Loading..."
                }
                document.getElementById('reject-modal').style.display = "none"
                recIdObject.admin_reject_reason = rejectReason;
                document.querySelector("#equipModal #modalRejectReason").textContent = rejectReason;
                document.querySelector("#equipModal #modalRejectRow").style.display = "flex";
            } else if (rejectType == "STUDIO"){
                if (cancelOrReject == "CANCEL"){
                    updateLoanStatus(recId,'canceled',rejectReason,"STUDIO")
                    studioCancel.disabled = true;
                    studioCancel.textContent = "Loading..."
                    
                } else if (cancelOrReject == "REJECT"){
                    updateLoanStatus(recId,'rejected',rejectReason,"STUDIO")
                    studioReject.disabled = true;
                    studioReject.textContent = "Loading..."
                    
                }
                document.getElementById('reject-modal').style.display = "none"
                recIdObject.admin_reject_reason = rejectReason;
                document.querySelector("#studioModal #modalRejectReason").textContent = rejectReason;
                document.querySelector("#studioModal #modalRejectRow").style.display = "flex";
            }  
        });

        document.getElementById("reject-modal-close").addEventListener('click', function() {
            document.getElementById('reject-modal').style.display = "none";
        });

        equipRemind.addEventListener('click', function(){
            send_mail("remind",recId,"EQUIP")
            equipRemind.disabled = true;
            equipRemind.textContent = "Loading..."
             //add a count of reminders sent or smth here 
        });
    </script>
{% endblock %}