{% extends "base.html" %}
{% block title %}Admin Home{% endblock %}
{% block content %}

    <div class="tab-container">
        <div class="tab">
            <button class="tablinks active" data-tab="home">Dashboard</button>
            <button class="tablinks" data-tab="about">Assets</button>
            <button class="tablinks" data-tab="contact">Booking</button>
            <button class="tablinks" data-tab="contact">Students</button>
        </div>
    </div>

    <div class="tabcontent active" id="dashboard">
        <h1>Dashboard</h1>
        <h2>Today's bookings</h2>
        <h2>New bookings</h2>

        <h2>Overdue loans</h2>
    </div>

    <div class="tabcontent active" id="assets">
        <h1>Assets</h1>

    </div>

    <div class="tabcontent active" id="bookings">
        <h1>Bookings</h1>
    </div>

    <div class="tabcontent active" id="students">
        <h1>Students</h1>
    </div>










    <script>
        const tablinks = document.querySelectorAll(".tablinks");
        tablinks.forEach(function(tab){
            tab.addEventListener('click',function(){ //when a tablink is clicked
            for (let i = 0; i < tablinks.length; i++) { //makes non selected tab links inactive
                tablinks[i].classList.remove("active");
            }  
            tab.style.display = "block";
            tab.classList.add("active");
            });
        });


    </script>



{% endblock %}