
{% extends "base.html" %}
{% block title %}Equipment Booking{% endblock %}
{% block content %}
   <div id="booking-data" data-fully-booked='{{ fully_booked_days | tojson | safe }}'></div>

   <h1>Book equipment</h1>
 
   {% for message in get_flashed_messages() %}
    <p class="flash">{{ message }}</p>
   {% endfor %}
   <p id="error-message"></p>
   <!-- For error messages from Python if not all fields are filled when submitting -->
 
   <form action ="/submit_equipment_booking" method = "POST">
      <label>Select loan start date:</label>
            <input placeholder = "mm/dd/yy" type = "date" id="loan-start-date" min="" name = "loan-start-date" required>

      <label>Select loan end date:</label>
            <input placeholder = "mm/dd/yy" type = "date" id="loan-end-date" min="" name = "loan-end-date" required>
            <!-- you need validation for end loan date - must be at least or after start loan date -->
      <div class = "tab">
         {% for i in equipment_category %}
            <button 
               class="tablinks {% if loop.first %}active{% endif %}"
               type = "button"
               onclick="openCategory(event, 'cat-{{i.id}}')"> 
               <!-- Ch -->
               {{i.name}}
            </button>
         {% endfor %}
      </div>

      <!-- Tab content -->
       {% for cat in equipment_category %}
         <div id="cat-{{ cat.id }}" class="tabcontent" {% if loop.first %}style="display: block;"{% else %}style="display: none;"{% endif %}>            <div class="cards-grid">
               {% for i in equipment_types %}
                  {% if i.fk_equipment_category_id | int == cat.id | int %}
                     <div class="equip-card" data-equip-id="{{ i.id }}"> 
                        <img src="{{ url_for('static', filename=i.image) }}" alt="{{ i.name }}">
                        <div class="container">
                           <h4><b>{{ i.name }}</b></h4>
                           <p>{{ i.descript }}</p> 
                           <!-- add validation, if descript is none don't show it -->
                        </div>
                     </div>
                  {% endif %}
               {% endfor %}
            </div>
         </div>
      {% endfor %}

      <input id="selected-studio-space" type="hidden" name="studio-space">
 
      <input type="submit" value="Submit">
   </form>

   <script>
      const bookingData = document.getElementById('booking-data');
      const fullyBookedDays = JSON.parse(bookingData.dataset.fullyBooked);  

      const fp = flatpickr("#loan-start-date", {
         minDate: "today",
         allowInput:true,
         disable: [
            function(date) {
               return date.getDay() === 0 || date.getDay() === 6;
            }
         ],  altInput: true, altFormat: "F j, Y", dateFormat: "Y-m-d",
         // how this works is if function returns true, date gets disabled. So it goes through dates dynamically, not pre determined all at once
      });
      
      function openCategory(evt, category_id) {
         // Prevent form submission trigger, cuz html buttons by default will act as submit buttons as type ="submit"
         if (evt) evt.preventDefault();

         // Hide all tab content
         const tabcontent = document.getElementsByClassName("tabcontent");
         for (let i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
         }

         // Remove active state from all tab buttons
         const tablinks = document.getElementsByClassName("tablinks");
         for (let i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
         }

         // Display target tab and mark button as active
         document.getElementById(category_id).style.display = "block";
         evt.currentTarget.classList.add("active");
      }

   </script>
{% endblock %}
